body {
  font-family: $main-font;
}

.clearfix {
  clear: both;
  display: table;
}

.links {
  text-decoration: none;
  cursor: pointer;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: url("../img/header_background.png") center no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  .design & {
    max-width: 1050px;
    width: 100%;
  }
  .carousel & {
    max-width: 800px;
    width: 100%;
  }
  .footer & {
    max-width: 1139px;
  }
}

header.navigate {
  padding: 110px 18px 0 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86px;
  cursor: pointer;
  a {
    color: $main-color;
  }
}

.burger_menu {
  display: block;
  position: relative;
  width: 26px;
  height: 20px;
  cursor: pointer;
  &:before,&:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  span{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }
}

.header-section {
  text-align: center;
  margin: 170px auto 0;
}

h1 {
  @include current-font(800,70px);
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 37px;
  span {
    color: #f7600e;
  }
}

.header-section p {
  max-width: 774px;
  width: 100%;
  @include current-font(400,25px);
  line-height: 40px;
  color: #fff;
  margin: auto;
}

.design {
  h3 {
    @include current-font(600,16px);
    line-height: 40px;
    text-transform: uppercase;
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 101px 0 112px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 180px;
    width: 100%;
    text-align: center;
    p {
      @include current-font (400,14px);
      line-height: 26px;
    }
  }
  &-logo {
    display: flex;
    width: 151px;
    height: 151px;
    border: solid 1px rgba(#3b434c, 0.3);
    border-radius: 50%;
    background: center no-repeat;
  }
}

.logo {
  &-print {
    background-image: url("../img/print_design.png");
  }
  &-web {
    background-image: url("../img/web_design.png");
  }
  &-app {
    background-image: url("../img/app_design.png");
  }
  &-logo {
    background-image: url("../img/logo_design.png");
  }
}

.subscribe {
  background: url("../img/background_subscribe.png") center no-repeat;
  background-size: cover;
}

.input {
  height: 50px;
  width: 100%;
  padding: 16px 15px 16px 15px;
  border-radius: 10px;
  background-color: #ffffff;
}

.subscribe-form {
  text-align: center;
  margin: 100px 0;
  .input {
    max-width: 562px;
    margin: 0 30px;
    @include current-font(300, 16px);
  }
}

.title {
  text-align: center;
  h2 {
    @include current-font(600,35px);
    line-height: 40px;
    text-transform: uppercase;
    margin: 0 0 29px;
    span {
      color: $secondary-color;
    }
  }
  p {
    @include current-font(400,16px);
    line-height: 30px;
    max-width: 455px;
    width: 100%;
    margin: 0 auto;
  }
}

.works {
  background: $main-color;
  text-align: center;
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-text {
    margin: 100px 0;
  }

  &-item {
    position: relative;
    border-radius: 10px;
    margin: 14px;
    max-width: 360px;
    max-height: 360px;
    width: 100%;
    height: 100%;
    &:hover .hover-content{
      display: flex;
    }
    .hover-content {
      display: none;
      border-radius: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 15%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($secondary-color, 0.9);
      color: $main-color;
      h3 {
        @include current-font(600,25px);
        line-height: 40px;
        text-transform: uppercase;
      }
      p {
        @include current-font(400, 14px);
        line-height: 26px;
      }
      .button {
        background-color: $main-color;
        color: $secondary-color;
      }
    }
  }
}

.carousel {
  background: url("../img/background_client.png") center no-repeat;
  padding: 100px 15px;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: $main-color;
    &:before {
      content: url("../img/arrow_left.png");
      position: absolute;
      top: 50%;
      left: -180px;
    }
    &:after {
      content: url("../img/arrow_right.png");
      position: absolute;
      top: 50%;
      right: -180px;
    }
    &:hover:before, &:hover:after {
    cursor: pointer;
    }
  }
  &-text {
    flex: 1 1 100%;
    @include current-font(400,25px);
    line-height: 40/25*100%;
    font-style: italic;
    text-align: center;
  }
  &-name {
    @include current-font(400,18px);
    line-height: 40/18*100%;
  }
}

.team {
  &-text {
    padding: 100px 0 130px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &-column {
    flex: 0 0 25%;
  }
  &-item {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    max-width: 256px;
    text-align: center;
    align-items: center;
    filter: grayscale(1);
    opacity: 70%;
    &:hover {
      filter: grayscale(0);
      transition: 0.3ms;
      opacity: 100%;
        .team-photo img {
        transform: scale(1.1);
          transform-origin: bottom;
          box-sizing: border-box;
        border-bottom: 5px solid $secondary-color;
      }
    }
    &>*:not(:last-child) {
      margin: 0 0 28px;
    }
    &__name {
      @include current-font(600,25px);
      text-transform: uppercase;
    }
    &__text {
      @include current-font(400,14px);
      line-height: 186%;
      margin: 0;
    }
  }
  &-photo {
    width: 235px;
    height: 284px;
    border-radius: 5px;
    img {
      height: 100%;
    }
  }
}

.team-item .card-icons {
  a :not(:last-child) {
  margin: 0 14px 0 0;
  }
  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.team__carousel-dots {
  display: flex;
  justify-content: center;
  ul {
    margin: 97px 0 100px;
    display: flex;
    align-items: center;
    &>*:not(:last-child) {
      margin-right: 19px;
    }
  }
  .dots {
      border-radius: 50%;
      width: 13px;
      height: 13px;
      background-color: #3b434c;
      opacity: 70%;
      &.active {
        width: 15px;
        height: 15px;
        background-color: $secondary-color;
      }
  }
}



.hello {
  background: url("../img/background_form.png") center no-repeat;
  background-size: cover;
  &__container {
    max-width: 858px;
  }
    .hello__text {
      color: $main-color;
      padding: 102px 0 97px;
    }
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input, textarea {
      @include current-font(400,16px);
    }
  }
  &__email {
    flex: 0 1 50%;
    padding: 0 14px;
    @include current-font(400,16px);
  }
  &__subject {
    flex: 0 1 50%;
    padding: 0 14px;
  }
  &__message {
    display: flex;
    flex: 0 1 100%;
    margin: 30px 0;
    padding: 0 14px;
    textarea {
      height: 199px;
      border-radius: 10px;
      padding: 16px;
      width: 100%;
    }
  }

  &__icons {
    float: right;
    margin-top: 5px;
    &>*:not(:last-child) {
      margin-right: 20px;
    }
    &>*:last-child {
      margin-right: 14px;
    }
  }
  &__icon {
    flex: 0 0 20%;
    width: 43px;
    height: 43px;
  }
}



