.header-buttons {
  margin-top: 49px;
  .button {
    margin: 15px 27px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  width: 210px;
  padding: 16px 0 16px;
  border-radius: 10px;
  border: solid 1px rgba(#ffffff, 0.2);
  @include current-font(600, 16px);
  color: $main-color;
  text-transform: uppercase;
  background-color: transparent;
  &:hover {
    background-color: $secondary-color;
  }
  .subscribe-form & {
    max-width: 269px;
    width: 100%;
    margin-top: 15px;
    background-color: transparent;
    &:hover {
      background-color: $secondary-color;
    }
  }
  .works &.more {
    border: 1px solid rgba(59, 67, 76, 0.2)  ;
    margin: 100px auto;
    color: #3b434c;
    &:hover {
      color: $main-color;
    }
  }
}

.arrow-down {
  display: block;
  margin: 20px auto 51px;
  width: 34px;
  height: 34px;
  background-image: url("../img/circle_arrow_down.png");
}

.hello__button {
  display: inline-block;
  float: left;
  margin-bottom: 140px;
}