.footer {
  max-height: 141px;
  height: 100%;
  background-color: #3b434c;
  img {
    position: relative;
    top:2px;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
  color: $main-color;
}